/* Site Selector Page */
* {
    margin: 0;
    padding: 0;
}

.siteSelector .us a {
    padding-right: 0px;
    max-height: 43.39px;
}

.siteSelector .gb a {
    padding-right: 0px;
    max-height: 43.39px;
    padding-left: 45px;
}

.siteSelector .cz a {
    padding-right: 0px;
    max-height: 43.39px;
    padding-left: 45px;
}

.siteSelector .hk a {
    padding-right: 0px;
    max-height: 43.39px;
}

.siteSelector .za a {
    padding-right: 5px;
    max-height: 43.39px;
    padding-left: 47px;
}

.siteSelector .kr a {
    padding-right: 5px;
    max-height: 43.39px;
    padding-left: 47px;
}

.siteSelector li {
    list-style: none;
}

.siteSelector li:before {
    display: none;
}

.siteSelector li a {
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    padding: 5px 15px 5px 55px;
    margin: 6px;
    list-style: none;
    border: 5px solid #f5f5f5;
    font-weight: bold;
    font-size: 13px;
    list-style: none;
    flex-basis: auto;
    display: block;
    text-align: left;
    color: #3d4246;
    text-decoration: none;
}

a {
    color: #3d4246;
    text-decoration: none;
}

.siteSelector li a:hover {
    background-color: #eee;
    border: 5px solid #eee;
}

@media only screen and (min-width: 750px) {
    .siteSelector li {
        flex-wrap: wrap;
        flex: 0 0 20%;
        flex-grow: 1;
    }
}

@media only screen and (min-width: 750px) {
    .siteSelector {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        text-align: center;
    }
}


.siteSelector .au a {
    background-image: url("/assets/flags/au.svg");
}

.siteSelector .bg a {
    background-image: url("/assets/flags/bg.svg");
}

.siteSelector .ch a {
    background-image: url("/assets/flags/ch.svg");
}

.siteSelector .cn a {
    background-image: url("/assets/flags/cn.svg");
}

.siteSelector .cl a {
    background-image: url("/assets/flags/cl.svg");
}

.siteSelector .cz a {
    background-image: url("/assets/flags/cz.svg");
}

.siteSelector .de a {
    background-image: url("/assets/flags/de.svg");
}

.siteSelector .dk a {
    background-image: url("/assets/flags/dk.svg");
}

.siteSelector .es a {
    background-image: url("/assets/flags/es.svg");
}

.siteSelector .fi a {
    background-image: url("/assets/flags/fi.svg");
}

.siteSelector .fr a {
    background-image: url("/assets/flags/fr.svg");
}

.siteSelector .gb a {
    background-image: url("/assets/flags/gb.svg");
}

.siteSelector .gr a {
    background-image: url("/assets/flags/gr.svg");
}

.siteSelector .hk a {
    background-image: url("/assets/flags/hk.svg");
}

.siteSelector .hr a {
    background-image: url("/assets/flags/hr.svg");
}

.siteSelector .hu a {
    background-image: url("/assets/flags/hu.svg");
}

.siteSelector .id a {
    background-image: url("/assets/flags/id.svg");
}

.siteSelector .ie a {
    background-image: url("/assets/flags/ie.svg");
}

.siteSelector .il a {
    background-image: url("/assets/flags/il.svg");
}

.siteSelector .in a {
    background-image: url("/assets/flags/in.svg");
}

.siteSelector .it a {
    background-image: url("/assets/flags/it.svg");
}

.siteSelector .is a {
    background-image: url("/assets/flags/is.svg");
}

.siteSelector .jp a {
    background-image: url("/assets/flags/jp.svg");
}

.siteSelector .kr a {
    background-image: url("/assets/flags/kr.svg");
}

.siteSelector .lt a {
    background-image: url("/assets/flags/lt.svg");
}

.siteSelector .my a {
    background-image: url("/assets/flags/my.svg");
}

.siteSelector .nl a {
    background-image: url("/assets/flags/nl.svg");
}

.siteSelector .no a {
    background-image: url("/assets/flags/no.svg");
}

.siteSelector .nz a {
    background-image: url("/assets/flags/nz.svg");
}

.siteSelector .ph a {
    background-image: url("/assets/flags/ph.svg");
}

.siteSelector .pl a {
    background-image: url("/assets/flags/pl.svg");
}

.siteSelector .pt a {
    background-image: url("/assets/flags/pt.svg");
}

.siteSelector .ro a {
    background-image: url("/assets/flags/ro.svg");
}

.siteSelector .ru a {
    background-image: url("/assets/flags/ru.svg");
}

.siteSelector .se a {
    background-image: url("/assets/flags/se.svg");
}

.siteSelector .sg a {
    background-image: url("/assets/flags/sg.svg");
}

.siteSelector .si a {
    background-image: url("/assets/flags/si.svg");
}

.siteSelector .sk a {
    background-image: url("/assets/flags/sk.svg");
}

.siteSelector .sg a {
    background-image: url("/assets/flags/sg.svg");
}

.siteSelector .tw a {
    background-image: url("/assets/flags/tw.svg");
}

.siteSelector .th a {
    background-image: url("/assets/flags/th.svg");
}

.siteSelector .tr a {
    background-image: url("/assets/flags/tr.svg");
}

.siteSelector .us a {
    background-image: url("/assets/flags/us.svg");
}

.siteSelector .vn a {
    background-image: url("/assets/flags/vn.svg");
}

.siteSelector .za a {
    background-image: url("/assets/flags/za.svg");
}
